.container {
  height: 100vh;
}
.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.form_modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  width: 350px;
  height: 35px;
  border: 1px solid rgb(147, 147, 147);
  border-radius: 5px;
}
.btn {
  width: 150px;
  height: 35px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  background-color: rgb(0, 123, 255);
  color: white;
}
p {
  font-size: 18px;
}
.display_none {
  display: none;
}
